* {
    padding: 0;
    margin: 0;
}

/* -----------------------------------header-------------------------------------------- */





/* ------------------------------------about-------------------------------------------- */




/* -----------------------------------slide-show----------------------------------------- */




/* ----------------------------------------price------------------------------------------ */
.price{
    text-align: center;
}
.header{
    font-size: 25px;
    font:bold;
}


/* ----------------------------------------download---------------------------------------- */




/* -----------------------------------------footer------------------------------------------ */





/* ----------------------------------------global css------------------------------------ */
